venv
__pycache__
*.swp
chromedriver
.env
*.env
!dev.env
*.sqlite3
tls/*
*cache*/
geckodriver.log
*.log
*~
.idea
*/migrations/*
*.code-workspace
output/*.json
output/*.zip
# folders
scraper-cache/
.vscode/
logos/
# symlinks
.vscode
scraper-cache
# Do not ignore
!output/schema.json