venv
__pycache__
*.swp
chromedriver
.env
*.env
!dev.env
*.sqlite3
tls/*
*cache*/
geckodriver.log
*.log
*~
.idea
*.csv
*/migrations/*
*.code-workspace
output/*.json
output/*.zip
output/*.csv
# folders
scraper-cache/
.vscode/
.vscode*
logos/
# symlinks
.vscode
scraper-cache
logos
# Do not ignore
!output/schema.json
