#                _         _
#  __      _____| |__  ___| |__   ___  _ __    ___  ___ _ __ __ _ _ __   ___ _ __
#  \ \ /\ / / _ \ '_ \/ __| '_ \ / _ \| '_ \  / __|/ __| '__/ _` | '_ \ / _ \ '__|
#   \ V  V /  __/ |_) \__ \ | | | (_) | |_) | \__ \ (__| | | (_| | |_) |  __/ |
#    \_/\_/ \___|_.__/|___/_| |_|\___/| .__/  |___/\___|_|  \__,_| .__/ \___|_|
#                                     |_|                        |_|
#
# WS_PDF_PRINTER=...
#   * Default for Linux is "Mozilla Save to PDF"
#   * Default for Windows is "Microsoft Print to PDF"
#   * Should only be set for testing/debug.
# WS_CACHE_BASE=./scraper-cache
#   * Where all scraper data files will be stored
# WS_EXPORT_FOLDER=./output
#   * Where all json/zip export files will be stored
# WS_JSON_SCHEMA=./output/schema.json
#   * Default location for schema.json
# WS_FF_PROFILE_PATH=C:\Users\someusername\AppData\Roaming\Mozilla\Firefox\Profiles\somehash.somename
#   * Location of Firefox profile used for i.e. Aliexpress

# These settings do not exist, they are for general
# explanations for settings below
# WS_*_MANUAL_LOGIN
#   * Whether  to log in manually(true) or automatic (false)
#   * Even on automatic the scraper may beed help with i.e. CAPTCHA
# WS_*_USERNAME=
# WS_*_PASSWORD=
#   * Username and password used for automatic login
# WS_*_ORDERS_MAX=<int>
#   * Only scrape <int> numbers of orders, then stop
# WS_*_ORDERS=<order_id>[,<order_id>...]
#   * While scraping, *only* scrape these order (or item) numbers
# WS_*_ORDERS_SKIP=<order_id>[,<order_id>...]
#   * While scraping, skip these order(or item) numbers

#      _    _ _ _____
#     / \  | (_) ____|_  ___ __  _ __ ___  ___ ___
#    / _ \ | | |  _| \ \/ / '_ \| '__/ _ \/ __/ __|
#   / ___ \| | | |___ >  <| |_) | | |  __/\__ \__ \
#  /_/   \_\_|_|_____/_/\_\ .__/|_|  \___||___/___/
#                         |_|
#
# WS_ALI_MANUAL_LOGIN=[false|true]
# WS_ALI_USERNAME=user@email.tld
# WS_ALI_PASSWORD=superS#cretPa&&=ord
# WS_ALI_ORDERS_MAX=<int>>
# WS_ALI_ORDERS=<order_id>[,<order_id>...]
# WS_ALI_ORDERS_SKIP=<order_id>[,<order_id>...]

#      _
#     / \   _ __ ___   __ _ _______  _ __
#    / _ \ | '_ ` _ \ / _` |_  / _ \| '_ \
#   / ___ \| | | | | | (_| |/ / (_) | | | |
#  /_/   \_\_| |_| |_|\__,_/___\___/|_| |_|
#
# WS_AMZ_MANUAL_LOGIN=[false|true]
# WS_AMZ_USERNAME=user@email.tld
# WS_AMZ_PASSWORD=superS#cretPa&&=ord
# WS_AMZ_ORDERS_MAX=<int>
# Note this uses , to separate tld, and ; for order_ids
# WS_AMZ_ORDERS=<tld>=<order_id>[;<order_id>...][,<tld>=<order_id>[;<order_id>...]]
# WS_AMZ_ORDERS_SKIP=<order_id>[,<order_id>...]

#   ____  _     _            _
#  |  _ \(_)___| |_ _ __ ___| | ___  ___
#  | | | | / __| __| '__/ _ \ |/ _ \/ __|
#  | |_| | \__ \ |_| | |  __/ |  __/ (__
#  |____/|_|___/\__|_|  \___|_|\___|\___|
#
# WS_DEC_MANUAL_LOGIN=[false|true]
# WS_DEC_USERNAME=user@email.tld
# WS_DEC_PASSWORD=superS#cretPa&&=ord

#      _       _        __            _ _
#     / \   __| | __ _ / _|_ __ _   _(_) |_
#    / _ \ / _` |/ _` | |_| '__| | | | | __|
#   / ___ \ (_| | (_| |  _| |  | |_| | | |_
#  /_/   \_\__,_|\__,_|_| |_|   \__,_|_|\__|
#
# WS_ADA_ITEMS_MAX=<int>
# WS_ADA_ITEMS=<item_id>[,<item_id>...]

#        ____
#    ___| __ )  __ _ _   _
#   / _ \  _ \ / _` | | | |
#  |  __/ |_) | (_| | |_| |
#   \___|____/ \__,_|\__, |
#                    |___/
#
# WS_EBY_MANUAL_LOGIN=[false|true]
# WS_EBY_USERNAME=[user@email.tld|username]
# WS_EBY_PASSWORD=superS#cretPa&&=ord
# WS_EBY_ORDERS_MAX=<int>
# WS_EBY_ORDERS=order_id|order_trans_id-order_item_id[,order_id|order_trans_id-order_item_id]
# WS_EBY_ORDERS_SKIP=order_id|order_trans_id-order_item_id[,order_id|order_trans_id-order_item_id]

#         _                                 _
#   _ __ (_)_ __ ___   ___  _ __ ___  _ __ (_)
#  | '_ \| | '_ ` _ \ / _ \| '__/ _ \| '_ \| |
#  | |_) | | | | | | | (_) | | | (_) | | | | |
#  | .__/|_|_| |_| |_|\___/|_|  \___/|_| |_|_|
#  |_|
#
# WS_PIM_MANUAL_LOGIN=[false|true]
# WS_PIM_USERNAME=user@email.tld
# WS_PIM_PASSWORD=superS#cretPa&&=ord
# WS_PIM_ORDERS_MAX=NOTIMPLMENTED
# WS_PIM_ORDERS=NOTIMPLMENTED
# WS_PIM_ORDERS_SKIP=NOTIMPLMENTED


#   _
#  (_)_ __ ___   __ _ _ _
#  | | '_ ` _ \ / _` | '_ \
#  | | | | | | | (_| | |_) |
#  |_|_| |_| |_|\__,_| .__/
#                    |_|
#
# WS_IMAP_SERVER=<fqdn>
# WS_IMAP_PORT=<int>
# WS_IMAP_USERNAME=[user@email.tld|username]
# WS_IMAP_PASSWORD=superS#cretPa&&=ord
# We use this flag to find the localized Gmail "All Main" folder
# \All to aitomaticly use the Gmail "All Mail" folder
# If you know you have a mailbox flagged \All, leave this,
# if not leave it commented out.
# WS_IMAP_FLAGS=<flag on IMAP folder(s) to scrape>[,<flag on IMAP folder(s) to scrape>]
# Do not use "INBOX" for i.e. Gmail, since that is not "All Mail"
# If you do not know, leave both _FLAGS and _FOLDERS empty,
# and all fodlers will be scanned
# WS_IMAP_FOLDERS=<IMAP folder>[,<IMAP folder>]
